.idea/
test.sh

# Others
.DS_Store

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# Xamarin Components
Components/

# NuGet Packages Directory
packages/

.bitrise*

# rspec
spec/fixtures
